<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <th:block th:replace="fragments/head ::headFragment"></th:block>
</head>
  <body>
    <!-- 네비게이션바 -->
    <th:block th:replace="fragments/navigationBar ::navigationBarFragment"></th:block>

    <!-- Header-->
    <th:block th:replace="fragments/header ::headerFragment"></th:block>

    <!-- Content -->
    <th:block th:replace="contents/base-section ::contentFragment"></th:block>

    <!-- Footer-->
    <th:block th:replace="fragments/footer ::footerFragment"></th:block>

    <!-- config fragment 사용 -->
    <th:block th:replace="fragments/config :: configFragment"></th:block>
  </body>
</html>
