<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

    <!--headFragment 선언-->
    <th:block th:fragment="headFragment">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="과일, 행복과일상, 아이스크림, 밴엔제리" />
        <meta name="author" content="" />
        <title th:text="${shop.shopName}">상호명</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

        <!-- 이 영역에 공통으로 사용할 css library를 선언한다. -->
        <link rel ="stylesheet" th:href="@{/css/common.css}">
    </th:block>
</html>