<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--headFragment 선언-->
<th:block th:fragment="contentFragment">

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5" th:each="item : ${arrayList}">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="images/menu/01_fruits/01_cup_fruit.jpeg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center" >
                                <h5 class="fw-bolder" th:text="${item.menu_name}"></h5>
                                <p th:text="${item.menu_price}"></p>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                        </div>
                    </div>
                </div>

                <!--여기서부터 디자인 위주로!!-->
                <div class="col mb-5">
                    <div class="card h-100">
                        &lt;!&ndash; Sale badge&ndash;&gt;
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        &lt;!&ndash; Product image&ndash;&gt;
                        <img class="card-img-top" src="images/menu/01_fruits/02_apple_mango.jpeg" alt="..." />
                        &lt;!&ndash; Product details&ndash;&gt;
                        <div class="card-body p-4">
                            <div class="text-center">
                                &lt;!&ndash; Product name&ndash;&gt;
                                <h5 class="fw-bolder">Sale Item</h5>
                                &lt;!&ndash; Product reviews&ndash;&gt;
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                &lt;!&ndash; Product price&ndash;&gt;
                                <span class="text-muted text-decoration-line-through">18000원</span>
                                배달 15,000원
                            </div>
                        </div>
                        &lt;!&ndash; Product actions&ndash;&gt;
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        &lt;!&ndash; Sale badge&ndash;&gt;
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        &lt;!&ndash; Product image&ndash;&gt;
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        &lt;!&ndash; Product details&ndash;&gt;
                        <div class="card-body p-4">
                            <div class="text-center">
                                &lt;!&ndash; Product name&ndash;&gt;
                                <h5 class="fw-bolder">Sale Item</h5>
                                &lt;!&ndash; Product price&ndash;&gt;
                                <span class="text-muted text-decoration-line-through">$50.00</span>
                                $25.00
                            </div>
                        </div>
                        &lt;!&ndash; Product actions&ndash;&gt;
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        &lt;!&ndash; Product image&ndash;&gt;
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        &lt;!&ndash; Product details&ndash;&gt;
                        <div class="card-body p-4">
                            <div class="text-center">
                                &lt;!&ndash; Product name&ndash;&gt;
                                <h5 class="fw-bolder">Popular Item</h5>
                                &lt;!&ndash; Product reviews&ndash;&gt;
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                &lt;!&ndash; Product price&ndash;&gt;
                                $40.00
                            </div>
                        </div>
                        &lt;!&ndash; Product actions&ndash;&gt;
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        &lt;!&ndash; Sale badge&ndash;&gt;
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        &lt;!&ndash; Product image&ndash;&gt;
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        &lt;!&ndash; Product details&ndash;&gt;
                        <div class="card-body p-4">
                            <div class="text-center">
                                &lt;!&ndash; Product name&ndash;&gt;
                                <h5 class="fw-bolder">Sale Item</h5>
                                &lt;!&ndash; Product price&ndash;&gt;
                                <span class="text-muted text-decoration-line-through">$50.00</span>
                                $25.00
                            </div>
                        </div>
                        &lt;!&ndash; Product actions&ndash;&gt;
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        &lt;!&ndash; Product image&ndash;&gt;
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        &lt;!&ndash; Product details&ndash;&gt;
                        <div class="card-body p-4">
                            <div class="text-center">
                                &lt;!&ndash; Product name&ndash;&gt;
                                <h5 class="fw-bolder">Fancy Product</h5>
                                &lt;!&ndash; Product price&ndash;&gt;
                                $120.00 - $280.00
                            </div>
                        </div>
                        &lt;!&ndash; Product actions&ndash;&gt;
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        &lt;!&ndash; Sale badge&ndash;&gt;
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        &lt;!&ndash; Product image&ndash;&gt;
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        &lt;!&ndash; Product details&ndash;&gt;
                        <div class="card-body p-4">
                            <div class="text-center">
                                &lt;!&ndash; Product name&ndash;&gt;
                                <h5 class="fw-bolder">Special Item</h5>
                                &lt;!&ndash; Product reviews&ndash;&gt;
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                &lt;!&ndash; Product price&ndash;&gt;
                                <span class="text-muted text-decoration-line-through">$20.00</span>
                                $18.00
                            </div>
                        </div>
                        &lt;!&ndash; Product actions&ndash;&gt;
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        &lt;!&ndash; Product image&ndash;&gt;
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        &lt;!&ndash; Product details&ndash;&gt;
                        <div class="card-body p-4">
                            <div class="text-center">
                                &lt;!&ndash; Product name&ndash;&gt;
                                <h5 class="fw-bolder">Popular Item</h5>
                                &lt;!&ndash; Product reviews&ndash;&gt;
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                &lt;!&ndash; Product price&ndash;&gt;
                                $40.00
                            </div>
                        </div>
                        &lt;!&ndash; Product actions&ndash;&gt;
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>