<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">

<th:block layout:fragment="content">

    <!-- Header-->
    <th:block th:replace="fragments/topContent ::topContentFragment"></th:block>

    <!-- Section-->
    <section class="py-5 content">
        <div class="container px-4 px-lg-5 mt-5 content_wrapper">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center content_list_wrapper">

                <!--메뉴 목록-->
                <div class="col mb-5 content_item" th:each="item : ${menuList}">
                    <a href="#" class="card h-100 content_item_wrapper position_relative">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white content_item_badge_wrapper position_absolute" th:if="${!#strings.isEmpty(item.badge)}">
                            <p th:classappend="|content_item_badge content_item_badge--${item.badge}|">[(${item.badge})]</p>
                        </div>
                        <!-- Product image-->
                        <!--img != null-->
                        <div class="content_item_img_wrapper" th:if="${!#strings.isEmpty(item.imgPath)}" >
                            <img class="card-img-top content_item_img" th:src="${item.imgPath}" alt="..." />
                        </div>
                        <!--img == null-->
                        <div class="content_item_img_wrapper" th:if="${#strings.isEmpty(item.imgPath)}" >
                            <img class="card-img-top content_item_img" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="logo입니다" />
                        </div>
                        <!-- Product details-->
                        <div class="card-body p-4 content_item_details">
                            <div class="text-center content_item_details_wrapper">
                                <p class="fw-bolder content_item_name" th:text="${item.menuName}"></p>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2 content_item_score">
                                    <th:block th:each="num : ${#numbers.sequence(1, item.stars)}"> <!--별은 제품의 별의 갯수만큼!-->
                                        <div class="bi-star-fill content_item_star"></div>
                                    </th:block>
                                </div>
                                <p class="content_item_price" th:text="|${#numbers.formatInteger(item.menuPrice,3,'COMMA')} 원|"></p>
                            </div>
                        </div>
                        <div class="content_item_button_wrapper hide">
                            <button class="content_item_button content_item_button_cart">장바구니</button>
                            <button class="content_item_button content_item_button_wish">관심상품</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</th:block>

</html>