<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">

<th:block layout:fragment="content">

    <!-- Header-->
    <th:block th:replace="fragments/topContent ::topContentFragment"></th:block>

    <!-- Section-->
    <section class="py-5 content">
        <div class="container px-4 px-lg-5 mt-5 content_wrapper">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center content_list_wrapper">

                <!--메뉴 목록-->
                <div class="col mb-5 content_item" th:each="item : ${menuList}">
                    <a href="#" class="card h-100 content_item_wrapper position_relative">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white content_item_badge_wrapper position_absolute" th:if="${!#strings.isEmpty(item.badge)}">
                            <p th:classappend="|content_item_badge--${item.badge}|">[(${item.badge})]</p>
                        </div>
                        <!-- Product image-->
                        <!--img != null-->
                        <div class="content_item_img_wrapper" th:if="${!#strings.isEmpty(item.imgPath)}" >
                            <img class="card-img-top content_item_img" th:src="${item.imgPath}" alt="..." />
                        </div>
                        <!--img == null-->
                        <div class="content_item_img_wrapper" th:if="${#strings.isEmpty(item.imgPath)}" >
                            <img class="card-img-top content_item_img" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="logo입니다" />
                        </div>
                        <!-- Product details-->
                        <div class="card-body p-4 content_item_details">
                            <div class="text-center content_item_details_wrapper">
                                <p class="fw-bolder content_item_name" th:text="${item.menuName}"></p>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2 content_item_score">
                                    <th:block th:each="num : ${#numbers.sequence(1, item.stars)}"> <!--별은 제품의 별의 갯수만큼!-->
                                        <div class="bi-star-fill content_item_star"></div>
                                    </th:block>
                                </div>
                                <p class="content_item_price" th:text="|${#numbers.formatInteger(item.menuPrice,3,'COMMA')} 원|"></p>
                            </div>
                        </div>
                        <div class="content_item_button_wrapper hide">
                            <button class="content_item_button_cart content_item_button_cart">장바구니</button>
                            <button class="content_item_button_cart content_item_button_wish">관심상품</button>
                        </div>
<!--                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>-->
<!--                        </div>-->
                        <!-- Product actions-->
<!--                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                            <div class="text-center">-->
<!--                                <a class="btn btn-outline-dark mt-auto" href="#">상세 보기</a>-->
<!--                            </div>-->
<!--                        </div>-->
                    </a>
                </div>


                <!--여기서부터 디자인 위주로!!-->
<!--                <div class="col mb-5">-->
<!--                    <div class="card h-100">-->
<!--                        &lt;!&ndash; Sale badge&ndash;&gt;-->
<!--                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale/배달가격</div>-->
<!--                        &lt;!&ndash; Product image&ndash;&gt;-->
<!--                        <img class="card-img-top" src="images/menu/01/02_apple_mango.jpeg" alt="..." />-->
<!--                        &lt;!&ndash; Product details&ndash;&gt;-->
<!--                        <div class="card-body p-4">-->
<!--                            <div class="text-center">-->
<!--                                &lt;!&ndash; Product name&ndash;&gt;-->
<!--                                <h5 class="fw-bolder">Sale Item</h5>-->
<!--                                &lt;!&ndash; Product reviews&ndash;&gt;-->
<!--                                <div class="d-flex justify-content-center small text-warning mb-2">-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Product price&ndash;&gt;-->
<!--                                <span class="text-muted text-decoration-line-through">18000원</span>-->
<!--                                배달 15,000원-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col mb-5">-->
<!--                    <div class="card h-100">-->
<!--                        &lt;!&ndash; Sale badge&ndash;&gt;-->
<!--                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
<!--                        &lt;!&ndash; Product image&ndash;&gt;-->
<!--                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                        &lt;!&ndash; Product details&ndash;&gt;-->
<!--                        <div class="card-body p-4">-->
<!--                            <div class="text-center">-->
<!--                                &lt;!&ndash; Product name&ndash;&gt;-->
<!--                                <h5 class="fw-bolder">Sale Item</h5>-->
<!--                                &lt;!&ndash; Product price&ndash;&gt;-->
<!--                                <span class="text-muted text-decoration-line-through">$50.00</span>-->
<!--                                $25.00-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col mb-5">-->
<!--                    <div class="card h-100">-->
<!--                        &lt;!&ndash; Product image&ndash;&gt;-->
<!--                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                        &lt;!&ndash; Product details&ndash;&gt;-->
<!--                        <div class="card-body p-4">-->
<!--                            <div class="text-center">-->
<!--                                &lt;!&ndash; Product name&ndash;&gt;-->
<!--                                <h5 class="fw-bolder">Popular Item</h5>-->
<!--                                &lt;!&ndash; Product reviews&ndash;&gt;-->
<!--                                <div class="d-flex justify-content-center small text-warning mb-2">-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Product price&ndash;&gt;-->
<!--                                $40.00-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col mb-5">-->
<!--                    <div class="card h-100">-->
<!--                        &lt;!&ndash; Sale badge&ndash;&gt;-->
<!--                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
<!--                        &lt;!&ndash; Product image&ndash;&gt;-->
<!--                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                        &lt;!&ndash; Product details&ndash;&gt;-->
<!--                        <div class="card-body p-4">-->
<!--                            <div class="text-center">-->
<!--                                &lt;!&ndash; Product name&ndash;&gt;-->
<!--                                <h5 class="fw-bolder">Sale Item</h5>-->
<!--                                &lt;!&ndash; Product price&ndash;&gt;-->
<!--                                <span class="text-muted text-decoration-line-through">$50.00</span>-->
<!--                                $25.00-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col mb-5">-->
<!--                    <div class="card h-100">-->
<!--                        &lt;!&ndash; Product image&ndash;&gt;-->
<!--                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                        &lt;!&ndash; Product details&ndash;&gt;-->
<!--                        <div class="card-body p-4">-->
<!--                            <div class="text-center">-->
<!--                                &lt;!&ndash; Product name&ndash;&gt;-->
<!--                                <h5 class="fw-bolder">Fancy Product</h5>-->
<!--                                &lt;!&ndash; Product price&ndash;&gt;-->
<!--                                $120.00 - $280.00-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">상세 보기</a></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col mb-5">-->
<!--                    <div class="card h-100">-->
<!--                        &lt;!&ndash; Sale badge&ndash;&gt;-->
<!--                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
<!--                        &lt;!&ndash; Product image&ndash;&gt;-->
<!--                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                        &lt;!&ndash; Product details&ndash;&gt;-->
<!--                        <div class="card-body p-4">-->
<!--                            <div class="text-center">-->
<!--                                &lt;!&ndash; Product name&ndash;&gt;-->
<!--                                <h5 class="fw-bolder">Special Item</h5>-->
<!--                                &lt;!&ndash; Product reviews&ndash;&gt;-->
<!--                                <div class="d-flex justify-content-center small text-warning mb-2">-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Product price&ndash;&gt;-->
<!--                                <span class="text-muted text-decoration-line-through">$20.00</span>-->
<!--                                $18.00-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col mb-5">-->
<!--                    <div class="card h-100">-->
<!--                        &lt;!&ndash; Product image&ndash;&gt;-->
<!--                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                        &lt;!&ndash; Product details&ndash;&gt;-->
<!--                        <div class="card-body p-4">-->
<!--                            <div class="text-center">-->
<!--                                &lt;!&ndash; Product name&ndash;&gt;-->
<!--                                <h5 class="fw-bolder">Popular Item</h5>-->
<!--                                &lt;!&ndash; Product reviews&ndash;&gt;-->
<!--                                <div class="d-flex justify-content-center small text-warning mb-2">-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                    <div class="bi-star-fill"></div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Product price&ndash;&gt;-->
<!--                                $40.00-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </section>
</th:block>

</html>